*{
    background-color: rgb(111, 162, 221);
}

h1{
    color: rgb(231, 12, 12);
    flex-direction: column;
    
}

p{
    color: rgb(139, 30, 240);
}

h2 {
    color: rgb(3, 3, 3);
}

button{
    color: white;
    border-radius: 5px;
    height: 50px;
    width: 50px;
    background-color: black;
}